{:name "algo-demo"
 :quanta/template [algodemo.sma-crossover.template/crossover-template
                   ;algodemo.sma-crossover.template/eodhd-eod
                   ;algodemo.nil.template/watch-crypto
                   ;algodemo.multi-ma.template/multi-ma
                   ;algodemo.sentiment-spread.template/sentiment-spread
                   ;algodemo.asset-compare.template/asset-compare
                   ;algodemo.reversal-and-breakout.template/reversal-and-breakout
                   ;algodemo.ut-bot-alerts.template/template
                   ;algodemo.linear-regression-candles.template/template
                   ; algos that produce an error (for testing purposes)
                   ;algodemo.error.template/error-compile-algo
                   ;algodemo.error.template/error-runtime-algo
                   ]
  
 }
